.devcontainer/
.github/
.vscode/
.vscode-dev-extensions/
.vscode-dev-userdata/
.vscode-test/
.yarn-cache/
build/
docs/
i18n/
jobs/
node_modules/
out/
scripts/
src/
test/
tools/
vscode-extensions-localization-export/
vscode-translations-import/
**/*.map
*.yml
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.npmrc
*.vsix
.DS_Store
DEVELOPER_HANDOFF_*.md
gulpfile.js
package-lock.json
tsconfig.json
test.tsconfig.json
translations_auto_pr.js
tslint.json
webpack.config.js
yarn.lock
